html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=1170")
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        script(src="https://use.fontawesome.com/ff88c31cb5.js")
        title forms
    body
        include ./elements/input/input.pug
        include ../sign/sign.pug
       
        mixin inpCont(text,content,placeholder,atr, kind)
            div.boxinp
                span.boxinp__text= text
                span.boxinp__content= content
                div.boxinp__input
                    +inpText(placeholder,kind)(class=atr)   
        
        mixin dropCont(words,text)
            div.boxinp
                span.boxinp__text= text
                div.boxinp__input
                    +dropdown(words)   

        mixin dropContShort(words,text)
            div.boxinp
                span.boxinp__text= text
                div.boxinp__input
                    +dropshort(words)

        mixin dropContMiddle(words,text,col)
            div.boxinp
                span.boxinp__text= text
                div.boxinp__input
                    +dropMiddle(words)(class=col)                              


        div.container  
            +inpCont('text field','default','Email','grey') 
            +inpCont('text field','hover/focus','this is pretty awesome','black')
            +dropCont('Сколько гостей','default','dropdown')
            +inpCont('masked text field','default','ДД.ММ.ГГГГ','grey')
        div.container2
            div.container2__elem1
                +dropContShort('ДД.ММ.ГГГГ','date dropdown')
            div.container2__elem2    
                +dropContShort('19.08.2019','date dropdown')
            div.container2__elem3    
                +dropContMiddle('19 авг - 23 авг','filter date dropdown')
            div.container2__elem4    
                +dropContMiddle('Email','subscription text field','grey')       
            
           
