mixin likebut(digit,icon="favorite")
    div.likes
        <i class="material-icons">#{icon}</i>
        span.likes__digit= digit 


mixin ratebut(icon="star_border")
    div.starbox
        -for(i=0;i<5;i++)
            <i class="material-icons">#{icon}</i>


mixin click(name,icon)
    if icon
        button.btnclick #{name}  <i class="material-icons">#{icon}</i>            
    else 
         button.btnclick= name

mixin slidebar
    div.slideset
        input#amount(type="text" readonly)
        div#slider-range
            