mixin inpText(text)
    input.inp(type="text" class!=attributes.class placeholder=text)

mixin dropdown(words)
    div.dropblock
        span.dropblock__words= words 
        <i class="material-icons">keyboard_arrow_down</i>

mixin dropshort(words)
    div.dropblockshort
        span.dropblockshort__words= words 
        <i class="material-icons">keyboard_arrow_down</i> 

mixin dropMiddle(words)
    div.dropblockmiddle
        span.dropblockmiddle__words(class!=attributes.class)= words 
        <i class="material-icons">keyboard_arrow_down</i>          

mixin expended([...names])
    div.droppy
        each name in [...names]
            div.elements
                p.elements__words= name
                div.elements__numbers
                    div.elements__numbers__circle1
                        span.minus -
                    span.elements__numbers__num 0 
                    div.elements__numbers__circle2
                        span.plus +

mixin expended([...names])
    div.droppy
        each name in [...names]
            div.elements
                p.elements__words= name
                div.elements__numbers
                    div.elements__numbers__circle1
                        span.minus -
                    span.elements__numbers__num 0 
                    div.elements__numbers__circle2
                        span.plus +


mixin expendedImprove([...names], ok,cancel)
    div.droppyex
        each name in [...names]
            div.elements
                p.elements__words= name
                div.elements__numbers
                    div.elements__numbers__circle1
                        span.minus -
                    span.elements__numbers__num 0 
                    div.elements__numbers__circle2
                        span.plus +
        div.done
            if cancel
                span.cancel= cancel
            span.ok= ok                                        